{extend name='base'/}
{block name='content'}
<!--更换处的包裹-->
<div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 WrapperWhole">
<h1 class="TopHead">欢迎来到我的世界</h1>
<!--页面上半部分-->
<div class="MyTopChange">
   <div class="leftChange">
	<h2 class="ChangeHead1">规划人生</h2>
   </div>
   <div class="rightChange">
	<p>
	完美的人生，需要有好的习惯，好的习惯需要我们自己不断培养，无论人生的哪个阶段，我们都需要自己大致计划，计划随着实际的情况可以适当的调整。但是，都必须达到我们阶段性的目标，小的变动充满快乐与激情。具体的规划，使我们有很强的安全感。失败的人生有很多种，但成功的人生只有我们不断的努力！
    </p>
   </div>
</div>
<!--页面上半部分结束-->
<div class="clearChange"></div>
<!--页面下半部分-->
<div class="MyBottomChange">
   <div class="leftBottomChange">
	<h2 class="ChangeHead2">陪伴,最长情的告白</h2>
   </div>
   <div class="rightBottomChange">
	<p class="BottomPT">
	家人，朋友，未来的爱人都是我们人生中的重要一部分，所以，我们精彩的人生，少不了他们的陪伴。我们要记录和他们在一起的点点滴滴。
    </p>
    <div class="MyFamilyPic">
    	<img src="../../static/admin/img/family.jpg" width="552px"
    height="181px">
    </div>
   </div>
</div>
<!--页面下半部分结束-->
</div><!--跟换包裹处结束-->
{/block}
