{extend name="base"/}
{block name="content"}
<!--生日日历包裹-->
<div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 WrapperWhole">
<button class="btn btn-success btn-lg MyBtn" onclick="add()">增加生日记录</button>
{foreach name="field" key="key" item="vo"}
<div class="MyBir">
	<button class="btn btn-success" onclick="update({$vo['birthday_id']})">修改</button>
	<h1>{$vo['birthday_name']}</h1>
	<span>{$vo['birthday_day']}</span>
	<button class="btn btn-success" onclick="del({$vo['birthday_id']})">删除</button>
</div>

{/foreach}
<div><!--生日日历包裹结束-->
<!--添加函数-->
<script type="text/javascript">
	function add(){
		location.href = "{:url('add')}";
	}
	function update(birthday_id){
		var confireM=confirm('确定修改吗?');
        if(confireM){
            location.href = "{:url('update')}"+'?birthday_id='+birthday_id;
        }
	}
	function del(birthday_id){
		var confireM=confirm('确定删除吗?');
        if(confireM){
            location.href = "{:url('del')}"+'?birthday_id='+birthday_id;
        }
	}
</script>
{/block}