{extend name="base"/}
{block name='content'}
<!--增加学习任务包裹-->
<div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 WrapperWhole">
 <ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
                <li>
                    <a href="{:url('study')}"><i class="fa fa-cogs"></i>
                        人生规划</a>
                </li>
                <li class="active">
                    <a href="{:url('add')}">添加任务</a>
                </li>

            </ol>
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="{:url('study')}">人生规划</a></li>
                <li class="active"><a href="{:url('add')}">添加任务</a></li>
            </ul>
            <form class="form-horizontal" id="form" action="" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">学习任务管理管理</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">学习任务</label>
                            <div class="col-sm-9">
                                <input type="text" name="study_content"  class="form-control" placeholder="">
                            </div>
                        </div>            
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">学习持续时间</label>
                            <div class="col-sm-9">
                                <input type="date" name="study_time"  class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">到达效果</label>
                            <div class="col-sm-9">
                                <input type="text" name="study_result"  class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">确定</button>
            </form>
</div>
{/block}